.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
    max-width: 300px;
    background-color: #fff;
}

/* Card header */
.card-header {
    background-color: #f4f4f4;
    padding: 20px;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

/* Card body */
.card-body {
    padding: 20px;
    margin: 10px;
    font-size: 1.5em;
    color: #333;
    gap: 1.2rem;
}

/* Card footer */
.card-footer {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ddd;
    gap: 1.2rem;
    
}

/* Button in card footer */
.card-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-color {
    background-color: rgb(255, 217, 0);
}